<div class="locations-container">
  @if (loading()) {
    <div class="locations-container__loading">
      <mat-spinner></mat-spinner>
    </div>
  }

  @if (error()) {
    <div class="locations-container__error">{{ error() }}</div>
  }

  @if (isEmpty()) {
    <p class="locations-container__empty">No locations found</p>
  }

  @if (hasLocations()) {
    <mat-list class="locations-list">
      @for (location of locations(); track location.id) {
        <app-location-card
          [location]="location"
          (cardClick)="onCardClick($event)"
          (delete)="onDeleteLocation($event)"
        />
      }
    </mat-list>
  }

  <div class="locations-container__actions">
    <button mat-raised-button color="primary" (click)="generateLocations(10)">
      +10
    </button>
    <button mat-raised-button color="primary" (click)="generateLocations(100)">
      +100
    </button>
    <button mat-raised-button color="primary" (click)="generateLocations(1000)">
      +1000
    </button>
    <button mat-raised-button color="warn" (click)="clearAll()">
      Clear all
    </button>
  </div>
</div>
